.field {
    display: table;
    width: 100vmin;
    height: 100vmin;
    table-layout: fixed;

    .row {
        display: table-row;

        .cell {
            display: table-cell;
        }
    }
}
